/******** BASE STYLES ********/
/*#a742f4*/

@import url('https://fonts.googleapis.com/css?family=Gugi|Permanent+Marker|Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: #FFF;
    font-family: sans-serif;
    font-weight: 400;
}

.wrap {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%
}

.footer-push {
    height: 100%;
}

header {
    background-color: black;
    opacity: .95;
    text-align: center;
    position:fixed;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    transition: all 400ms ease-in-out 100ms;
    box-shadow: 0px 2px 3px black; 
}

.fa-rocket {
    transition: all 350ms ease-in-out;
}

#logo:hover > .fa-rocket{
    transform: translate(100px, -100px);
    color: #42c2f4;
}

.tools {
    display: flex;
    padding: 1em;
    width: 70%;
    justify-content: space-around;
    height: 110px;
    display: none;
    transition: transform 150ms ease-in-out 100ms;
    transition: color 100ms ease-in-out;
}

.tool-icon {
    width: 100%;
    max-width: 110px;
    flex-shrink: 1;
}

#plus {
    align-self: center;
    font-size: 50px;
    color: #FFF;
}

#d-arrow {
    max-height: 128px;
    max-width: 128px;
    align-self: center;
}

#d-arrow img {
    height: 50px;
    width: 60px;
    animation: point 2s infinite;
}

@keyframes point {
    0%   {}
    50% {transform: translate(0, 1.5em);}
    100% {}
}

.spacer {
    height: 35px;
}

.section-title {
    font-family: 'Gugi', sans-serif;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    color: #42c2f4;
    text-shadow: 1px 0px;
}

.section-t-card {
    background-color: black;
    border-radius: 12px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .8px;
    box-shadow: 2px 2px 4px;
}

#r-btn:hover {
    transform: translate(0px, -12px);
    transform: scale(1.1);
}

#about-card {
    max-width: 160px;
    margin: 1em auto;
    padding-bottom: 4px;
}

#skills-card {
    max-width: 320px;
    margin-top: 1em;
    padding-bottom: 3px;
}

#projects-card {
    max-width: 150px;
    padding-bottom: 5px;
    margin-bottom: 16px;
}

#projects-spacer {
    height: 80px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

#footer p a {
     letter-spacing: 1px;   
}

.icon-holder {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.icon-holder-footer {
    display: flex;
    height: 50px;
    width: 60%;
    justify-content: space-around;
}

.social-icon {
    max-width: 33px;
    height: auto;
    transition: all 100ms ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
    transform: rotate(15deg) scale(1.2);
}

.btn {
    text-transform: uppercase;
    padding: 12px;
    border: solid 2px #42c2f4;
}

footer {
    text-align: center;
    padding: 19px;
    color: black;
    background-color: #42c2f4;
    margin-top: 5em;
    font-weight: 550;
}

#footer-tagline {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
    font-weight: 400;
    color: #FFF;
    margin-top: 20px;
    letter-spacing: 1px;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding: .8em;
    text-align: center;
}

/******** NAVIGATION STYLING ********/

nav {
    background-color: black;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 1000px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    padding-top: 10px;
    padding-left: 2em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left:30px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #FFF;
    height: 3.3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1.5em;
    margin-left: 1em;
    
}

nav a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all 150ms ease-in-out;
}

nav a:hover {
    color: #42c2f4;
    font-size: 22px;
}

.btn a:hover {
    font-size: 24px;
}

.btn a{
    transition: all 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 100ms;
}

#logo {
    display: inline-block;
    font-family: 'Gugi', sans-serif;
    letter-spacing: 3px;
    color: #FFF;
    transition: all 150ms ease-in-out;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 30px;
}

#logo:hover {
    color: #42c2f4;
    cursor: pointer;
}

.fa-file-download {
    animation: point-r 2s infinite;
}

@keyframes point-r {
    0%   {}
    50% {transform: translate(0, 3px);}
    100% {}
}

@keyframes point {
    0%   {}
    50% {transform: translate(0, 24px);}
    100% {}
}

/******** ABOUT ME ********/

#title {
    font-family: 'Gugi', sans-serif;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 900;
    line-height: 28px;
    text-shadow: 0px 1px;
    font-size: 18px;
    color: #42c2f4;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/SVG/dan.svg);
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    
    align-content: center;
    padding: 1em;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    max-width: 800px;
    max-height: 700px;
    margin:  auto;
    padding: 1.3em;
    text-align: center;
    border-radius: 18px;
}

#r-btn {
    border: solid 2px #8c3af2;
    transition: all 150ms ease-in-out;
    width: 126px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c3af2;
    
    margin: 0 auto;
    margin-top: .8em;
    margin-bottom: -20px;
}

#r-btn p a {
    color: #8c3af2;
    font-weight: 500;
    letter-spacing: .55px;
}

#about-blurb {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin-top: -15px;
    font-size: 14px;
    padding: 5px;
    color: #FFF;
    letter-spacing: .5px;
}

.about-me-section-wrap {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

#me {
    max-width: 250px;
    border-radius: 100%;
    box-shadow:  5px;
}

.about-me-section-wrap p {
    line-height: 2em;
    text-align: left;
    padding: 1em;
    color: black;
    font-weight: 300;
}

.about-me {
    padding-top: 1px;
    text-align: center;
    background: linear-gradient(-90deg, white, #f2f2f2);
}

/**** SKILLS ****/

.skills {
    padding-top: 1px;
    background: linear-gradient(90deg, white, #f2f2f2);
}

#skills-list {
    text-align: center;
    padding-bottom: 1em;
}

#skills-list li {
    color: black;
    margin-left: -50px;
    padding: .5em;
    font-weight: 500;
    font-size: 17px;
    font-weight: 300;
}

/**** PROJECTS ****/

#project-title {
    margin-top: 2em;
    margin-bottom: 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
    margin: 0 auto;
}

.project-title-pic {
    text-align: center;
    transition: all 150ms ease-in-out;
}

.project-title-pic:hover {
    transform: translate(0px, -12px);
    transform: scale(1.04);
    cursor: pointer;
}

.project-title-pic h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.pic-holder {
    position: relative;
}

.project-pic {
    width: 100%;
}

.project-cat {
    background-color: #8c3af2;
    padding: 8px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 22px;
    color: #fff;
    font-weight: 300;
    
}

.uxui {
    background-color: #42c2f4;
}

.btn a {
    color: #42c2f4;
}

.project-description {
    line-height: 1.8em;
    color: dimgrey;
    font-weight: 300;
}

/******** CONTACT ********/

#contact-title {
    color: #FFF;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 190px;
    font-family: 'Gugi', sans-serif;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 25px;
    color: #42c2f4;
    text-shadow: 1px 0px;
    margin: 0 auto;
    top: 110px;
    z-index: 1000000;
    background-color: black;
    border-radius: 10px;
    letter-spacing: .8px;
}

/******** ICONS PAGE ********/

#icons-spacer {
    height: 85px;
}

#icon-description {
    text-align: center;
    line-height: 1.8em;
    color: dimgrey;
    font-weight: 300;
}

/******** MEDIA QUERIES ********/

@media screen and (min-width: 400px) {
    
    #about-blurb {
        line-height: 2em;
        font-size: 16px;
    }
    
    #title {
        font-size: 28px;
        line-height: 47px;
    }
    
    
    
}

@media screen and (max-width: 570px) {
    .nav-toggle-label {
        margin-left: -10px;
    }
    
    #logo {
        font-size: 27px;
    }
    
    #me {
        width: 100%;
    }
    
    
    
}

@media screen and (min-width: 600px) {
    .project-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
    
    .icon-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
    
    .icon-holder {
        width: 60%;
    }
    
    .icon-holder-footer {
        width: 30%;
    }
    
    .copy {
        flex-direction: row-reverse;
    }
    
    .copy p {
        margin-left: 2em;
    }
    
    .tools {
        display: flex;
    }
}

@media screen and (min-width: 980px) {
    
    .project-wrap {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 24px;
    }

    .about-me-section-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .about-me-section-wrap p {
        max-width: 600px;
    }
    
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100px;
        flex-grow: 2;
        margin-right: 9px;
        padding: 12px;
    }
    
    #me {
        margin-top: 20px;
    }
    
    .skills {
        flex-basis: 100px;
        flex-grow: 1;
        margin-left: 9px;
        padding: 12px;
    }
    
    #skills-list {
        margin-top: 45px;
        line-height: 1.5em;
        margin-left: 12px;
    }
    
    #skills-list li {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px){
    
    #toggleMe {
        display:none;
    }    
    #toggleMe2 {
        display: flex;
    }
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display:  grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
    }
    
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 12px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
    }
    
    nav li {
        margin-left: 3em;
        margin-top: 14px;
    }
    
    nav a {
        opacity: 1;
        position: relative;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #42c2f4;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
        transform: scale(1,1);
    }
}

@media screen and (min-width: 1300px) {
    .project-wrap {
        grid-gap: 24px;
    }
}