/******** BASE STYLES ********/

@import url('https://fonts.googleapis.com/css?family=Gugi|Permanent+Marker|Roboto');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background:white;
    font-family: sans-serif;
    font-weight: 400;
}

.wrap {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    opacity: .95;
    text-align: center;
    position:fixed;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    background-color: white;
}

.spacer {
    height: 90px;
}

.section-title {
    font-family: 'Gugi', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-top: 24px;
    color: #00c3ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #00c3ff;
}

.icon-holder {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
}

.icon-holder-footer {
    display: flex;
    height: 50px;
    width: 60%;
    justify-content: space-around;
}

.social-icon {
    max-width: 33px;
    height: auto;
}

.social-icon:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 32px;
    color: slategrey;
}

#footer-tagline {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    color: dimgrey;
    padding: 2em;
}

/******** NAVIGATION STYLING ********/

nav {
    background-color: white;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 1000px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    padding-top: 10px;
    padding-left: 2em;
}


.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left:30px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #00c3ff;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    font-family: 'Gugi', sans-serif;
    color: #00c3ff;
    margin-top: 28px;;
}

/******** ABOUT ME ********/

#title {
    font-family: 'Gugi', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/deskatnight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1650px;
    height: 400px;
    margin: 0 auto;
    align-content: center;
    padding: 1em;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, .9);
    max-width: 700px;
    max-height: 100%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

#about-blurb {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin-top: -15px;
}

.about-me-section-wrap {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

#me {
    max-width: 250px;
    border-radius: 100%;
    box-shadow:  5px;
}

.about-me-section-wrap p {
    line-height: 2em;
    text-align: left;
    padding: 1em;
    color: grey;
}

.about-me {
    padding-top: 1px;
    text-align: center;
    background: linear-gradient(-90deg, white, #f2f2f2);
}

/**** SKILLS ****/

.skills {
    padding-top: 1px;
    background: linear-gradient(90deg, white, #f2f2f2)
}

#skills-list {
    text-align: center;
    padding-bottom: 1em;
}

#skills-list li {
    color: grey;
    margin-left: -50px;
    padding: .5em;
    font-weight: 500;
    font-size: 17px;
}

/**** PROJECTS ****/

#project-title {
    margin-top: 2em;
    margin-bottom: 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.project-title-pic {
    text-align: center;
}

.project-title-pic h1 {
    color: dimgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.pic-holder {
    position: relative;
}

.project-pic {
    width: 100%;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    transition: all .3s ease;
    opacity: 0;
    background-color: #eee;
    height: 100%;
    width: 100%;
}

.overlay img {
    margin-top: 30px;
    width: 30%;
}

.overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.pic-holder:hover .overlay {
    opacity: .8;
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-description {
    line-height: 1.5em;
    color: dimgrey;
}

/******** CONTACT ********/

#contact-title {
    margin-top: 3em;
    margin-bottom: -18px;
}

/******** MEDIA QUERIES ********/

@media screen and (max-width: 570px) {
    .nav-toggle-label {
        margin-left: -15px;
    }
    
    .logo {
        font-size: 24px;
        margin-top: 28px;
    }
    
    #me {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .project-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
    
    .icon-holder {
        width: 40%;
    }
    
    .icon-holder-footer {
        width: 30%;
    }
    
    .copy {
        flex-direction: row;
    }
}

@media screen and (min-width: 980px) {

    .about-me-section-wrap {
        display: flex;
        justify-content: space-between;
    }
    
    .about-me-section-wrap p {
        max-width: 600px;
    }
    
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100px;
        flex-grow: 2;
        margin-right: 9px;
        padding: 12px;
    }
    
    #me {
        margin-top: 20px;
    }
    
    .skills {
        flex-basis: 100px;
        flex-grow: 1;
        margin-left: 9px;
        padding: 12px;
    }
    
    #skills-list {
        margin-top: 45px;
        line-height: 1.5em;
        margin-left: 12px;
    }
    
    #skills-list li {
        font-size: 18px;
    }
}

@media screen and (min-width: 1000px){
    
    #toggleMe {
        display:none;
    }    
    #toggleMe2 {
        display: flex;
    }
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display:  grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
    }
    
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 12px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
    }
    
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    
    nav a {
        opacity: 1;
        position: relative;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #00c3ff;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
        transform: scale(1,1);
    }
}

@media screen and (min-width: 1300px) {
    .project-wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
    }
}