/******** BASE STYLES ********/

@import url('https://fonts.googleapis.com/css?family=Gugi|Permanent+Marker|Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

@keyframes blink {
    0%   {color: #1c1c1c;}
    50% {color: #42c2f4;}
    100% {color: #1c1c1c;}
}

@keyframes pulse {
    0%   {transform: scale();}
    50% {transform: scale(1.1);}
    100% {transform: scale();}
}

@keyframes point {
    0%   {}
    50% {transform: translate(0, 1.5em);}
    100% {}
}

@keyframes point-up {
    0%   {}
    50% {transform: translate(0, -1.5em);}
    100% {}
}

* {
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: #1c1c1c;
    font-weight: 400;
    position: relative;
}

h4 {
    color: #42c2f4;
    font-weight: 100;
}

.wrap {
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%
}

header {
    opacity: 1;
    text-align: center;
    position:fixed;
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    transition: all 400ms ease-in-out 100ms;
    background-color: #1c1c1c;
}

.tools {
    display: flex;
    padding: 1em;
    width: 70%;
    justify-content: space-around;
    height: 110px;
    display: none;
    transition: transform 150ms ease-in-out 100ms;
    transition: color 100ms ease-in-out;
}

.tool-icon {
    width: 100%;
    max-width: 110px;
    flex-shrink: 1;
}

#plus {
    align-self: center;
    font-size: 50px;
    color: #FFF;
}

#arrow-holder {
    transform: translate(0px, -15px);
    margin: 0 auto;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-arrow {
    max-height: 128px;
    max-width: 128px;
    align-self: center;
    display: none;
}

.d-arrow i {
    display: none;
    height: 50px;
    width: 60px;
    animation: blink 1.5s infinite;
    text-align: center;
    font-size: 48px;
}

.section-title {
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    color: #42c2f4;
    text-transform: uppercase;
}

.p-title {
    font-family: 'roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 24px;
    color: #42c2f4;
    text-transform: none;
}

.section-t-card {
    font-family: 'fake_receipt', sans-serif;
    border-radius: 12px; 
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .8px;
}

#r-btn:hover {
    transform: translate(0px, -12px);
    transform: scale(1.1);
}

#about-card {
    max-width: 160px;
    margin: 1em auto;
    padding-bottom: 4px;   
}

#skills-card {
    max-width: 420px;
    margin-top: 60px;
    padding-bottom: 3px;
}

#projects-card {
    max-width: 150px;
    padding-bottom: 5px;
    margin-bottom: 16px;
}

#contact-spacer {
    height: 180px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

#footer p a {
     letter-spacing: 1px;   
}

.icon-holder {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.icon-holder-footer {
    display: flex;
    height: 50px;
    width: 60%;
    justify-content: center;
}

.social-icon {
    max-width: 33px;
    height: auto;
    transition: all 100ms ease-in-out;
    margin-top: 8px;
    margin-right: 1em;
}

.social-icon:hover {
    cursor: pointer;
    transform: rotate(15deg) scale(1.2);
}

.btn {
    text-transform: uppercase;
    padding: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    border: solid 3px #42c2f4;
    margin-top: 20px;
    animation: pulse 3s infinite;
}

footer {
    text-align: center;
    padding-top: 25px;
    color: black;
    background-color: #42c2f4;
    margin-top: 5em;
    font-weight: ;
    margin-bottom: -17px;
}

#footer-tagline {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5em;
    font-weight: 400;
    color: #FFF;
    margin-top: 20px;
    letter-spacing: 1px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #2d2d2d;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #a5a5a5;
    padding: .8em;
    text-align: center;
}

.contact-icons {
    margin-top: 1em;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.contact-icons a img{
    width: 40px;
}

.footer-push {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.wrap {
    flex-grow: 1;
}

/****** NEW NAV ******/

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #1c1c1c;
    color: #FFF;
    padding: 1em 0;
    position: ;
    height: 58px;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1.3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: all ease-in-out 300ms;
}

.logo span {
    font-weight: 600;
}

.logo a:hover {
    color: #42c2f4;
    cursor: pointer;
    animation: blink 1s infinite;
}

#rocket {
    transition: transform ease-in-out 400ms;
}

.logo:hover  #rocket {
    transform: translate(5em, -5em);
}

.site-nav {
    position: absolute;
    background: #42c2f4;
    top: 100%;
    right: 0%;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 100% 0);
    transition: clip-path ease-in-out 400ms;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav li {
    border-bottom: 1px solid #f2f2f2;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: white;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;
    transition: transform ease-in-out 300ms;
}

.site-nav a:hover{
    color: #42c2f4;
    cursor: pointer;
    animation: blink 1s infinite;
    transform: scale(1.3);
}

.site-nav-open {
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0% 100%);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .55em;
    right: .75em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

/****** /NEW NAV ******/

.btn a:hover {
    font-size: 24px;
}

.btn a{
    transition: all 150ms ease-in-out;
}

.fa-file-download {
    animation: blink 1.5s infinite;
}

@keyframes point-r {
    0%   {}
    50% {transform: translate(0, 3px);}
    100% {}
}

@keyframes point {
    0%   {}
    50% {transform: translate(0, 24px);}
    100% {}
}

@font-face {
    font-family: 'fake_receipt';
    src: url('fake_receipt-webfont.woff2') format('woff2'),
         url('fake_receipt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******** ABOUT ME ********/

#title {
    font-family: 'roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
    color: #42c2f4;
    text-transform: uppercase
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/1x/squares24.png);
    background-position: center;
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
    padding: 1em;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 800px;
    max-height: 700px;
    margin:  auto;
    padding: 1.3em;
    text-align: center;
}

#r-btn {
    border: solid 3px #42c2f4;
    transition: all 150ms ease-in-out;
    width: 128px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #42c2f4;
    margin: 0 auto;
    margin-top: .8em;
    margin-bottom: -20px;
}

#r-btn p a {
    color: #42c2f4;
    font-weight: 600;
    letter-spacing: .55px;
    font-size: 16px;
}

#about-blurb {
    font-family: 'roboto', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin-top: -15px;
    font-size: 14px;
    padding: 5px;
    color: #FFF;
    letter-spacing: 1px;
}

.about-me-section-wrap {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

#me {
    transform: translate(0px, -10px);
    max-width: 220px;=
}

.about-me-section-wrap p {
    line-height:2em;
    text-align: left;
    padding: 1em;
    color: #FFF;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;    
}

.about-me {
    text-align: center;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-2 h1 {
    font-size: 55px;
    margin: 0;
    color: #42c2f4;
    display: none;
}

.hi {
    font-size: 45px;
    margin: 0;
    margin-bottom: .7em;
    color: #42c2f4;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#abt-arrow {
    transform: translate(0px, -70px);
    display: none;
}

/**** SKILLS ****/

#skills {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#skills-list {
    
    text-align: center;
    padding-bottom: 1em;
    margin-left: 9px;
    margin-bottom: 3em;
}

#skills-list li {
    color: #FFF;
    margin-left: -50px;
    padding: .5em;
    font-weight: 500;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: .5px;
}

.skills-1 {
    margin: auto;
}

/**** PROJECTS ****/

#project-title {
    margin-top: 2em;
    margin-bottom: 0;
}

.project-wrap {
    width: 90%;
    margin: 0 auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.project-title-pic {
    text-align: center;
    transition: all 150ms ease-in-out;
}

.project-title-pic:hover {
    transform: translate(0px, -12px);
    transform: scale(1.04);
    cursor: pointer;
}

.project-title-pic h1 {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.project-pic {
    width: 100%;
}

.btn a {
    color: #42c2f4;
}

.project-description {
    line-height: 1.8em;
    color: #FFF;
    font-weight: 300;
}

.arrow-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: -100px;
    animation: point-up 2s infinite;
    flex-direction: column;
}

.arrow-holder p {
    margin-top: 8px;
    font-weight: 600;
}

#up-arrow {
    max-width: 48px;
}

/******** CONTACT ********/

#contact-title {
    color: #FFF;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    margin: 0 auto;
    z-index: 1;
    font-weight: 600;
    color: #42c2f4;
}

#contact-scrn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items: center;
}

#contact-scrn a {
    color: #42c2f4;
}

#contact-scrn p {
    max-width: 73%;
    text-align: center;
    line-height: 24px; 
}

#contact-title {
    color: #42c2f4;
}

#footer-tagline {
    text-align: center;
}

.contact-1 {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy{
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.links p {
    color: #FFF;
}

#email {
    margin:0;
}

/****** CASE STUDY STYLES ******/

.spacer {
    height: 58px;
}

.case-wrap {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.title-card {
    font-family: "Roboto", sans-serif;
    background-color: red;
    margin-top: 1em;
    text-align: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    padding: 12px;
    color: #FFF;
    background-image: url(img/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}

.skip-btn {
    background-color: #42c2f4;
    width: 160px;
    padding: 8px;
    transition: all ease-in-out 300ms;
    margin: 0 auto;
    border-radius: 5px;
}

.skip-btn:hover {
    transform: scale(1.2);
    background-color: #086c8e;
}

.section-card {
    font-family: "Roboto", sans-serif;
    margin-top: 3em;
    text-align: center;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    padding: 12px;
    color: #FFF;
    background-image: url(img/research.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}

.section-card p {
    font-size: 26px;
}

.title-card span {
    font-family: "Roboto", sans-serif;
    color: #42c2f4;
    font-size: 2.4em;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
}

.case-section {
    font-family: "Roboto", sans-serif;
}

.case-section h2 {
    margin-bottom: 0;
    color: #42c2f4;
    letter-spacing: 1.5px;
}

.case-section p {
    margin-top: 5px;
    color: #FFF;
    letter-spacing: .5px;
    line-height: 22px;
    font-size: 15px;
}

.case-img-grid {
    margin-top: 2em;
}

.case-img-card {
    width: 100%;
    margin: 0 auto;
}

.case-img-card h3 {
    color: #42c2f4;
    text-align: center;
    margin-bottom: 8px;
}

.case-img-card img {
    width: 100%;
}

.case-img-card p {
    color: #FFF;
    letter-spacing: .5px;
    line-height: 22px;
    font-size: 15px;
}

.quote-container {
    margin-top: 2em;
}
    
.quote-container div {
    color: #42c2f4;
    font-size: 19px;
    line-height: 1.5em;
    font-style: italic;
    margin-bottom: 2em;
}

.box-container {
    display: grid;
    grid-gap: 1em;
}

.box-container div{
    background-color: #42c2f4;
    padding: 1em;
}

#solution h5 {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 18px;
}

#solution ul li {
    color: #FFF;
    line-height: 24px;
    margin-top: 8px;
    list-style:square;
}

#design {
    background-image: url(img/vm_case_study_img/design.jpg);
}

#paper-sketches {
    width: 100%;
    border: none;
}

.paper-set-wrap {
    display: flex;
    flex-direction: column;
}

.paper-set-wrap img {
    width: 100%;
    align-self: center;
}

.paper-set-wrap div h3 {
    color: #42c2f4;
    font-weight: 600;
    font-size: 18px;
}

.lofi-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
}

.lofi-wrap img {
    width: 100%;
}

#style-guide {
    display: flex;
    flex-direction: column;
}

#style-guide img {
    width: 100%;
    margin-top: 1em;
}

#style-guide p {
    margin-top: 14px;
}

iframe {
    margin-top: 1em;
    margin-bottom: 2em;
    border: none;
}

#proto-blurb {
    color: #FFF;
    letter-spacing: .5px;
    line-height: 22px;
    font-size: 15px;
}
/******** MEDIA QUERIES ********/

@media screen and (min-width: 400px) {
    
    #about-blurb {
        line-height: 2em;
        font-size: 16px;
    }
    
    #title {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 47px;
        margin-bottom: .4em
    }
    
    
}

@media screen and (min-width: 600px) {
    
    #style-guide {
        flex-direction: row;
    }

    #style-guide img {
        width: 50%;
        align-self: center;
        margin-right: 2em;
    }
    
    .project-wrap {
        display: grid;
        grid-gap: 18px;
        width: 90%;
        margin: 0 auto;
    }
    
    .icon-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }
    
    .icon-holder {
        width: 60%;
    }
    
    .icon-holder-footer {
        width: 30%;
    }
    
    .copy {
        flex-direction: row;
        justify-content: center;
    }
    
    .tools {
        display: flex;
    }
    
    .case-img-grid {
        display: grid;
/*        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));*/
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    
    
}

@media screen and (min-width: 700px) {
    
    
    
    .box-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .quote-container {
        display: flex;
        justify-content: space-around;
    }
    
    .quote-container div {
        width: 190px;
    }
    
    #abt-arrow {
        transform: translate(0px, -70px);
        display: flex;
        justify-content: center;
    }
    
    .menu-toggle {
        display: none;
    }
    
    .site-nav {
        transform: scale(1,1);
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }
    
    .logo {
        margin-top: 3px;
    }
    
    .site-nav ul {
        margin-top: 5px;
        margin-right: 12px;
    }
    
    .site-nav li {
        display: inline-block;
        border: none;
        letter-spacing: .5px;
    }
    
    .site-nav a {
        padding: 0;
        margin-left: 2em;
    }
    
    .section-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 750px) {
    
    .paper-set-wrap {
        flex-direction: row;
    }
    
    .paper-set-wrap img {
        width: 60%;
    }
    
    .paper-set-wrap div {
        align-self: center;
    }
    
    .lofi-wrap {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .project-wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 980px) {
    
    .d-arrow {
        display: none;
    }
    
    .d-arrow i,
    .d-arrow{
        display: block;
    }
    
    .about-container {
        background-size: contain;
    }

    .about-me-section-wrap {
        margin: 0 auto;
    }
    
    .about-me-section-wrap p {
        max-width: 650px;
        color: #FFF;
    }
    
    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        padding: 12px;
        height: 100vh;
        margin: 0 auto;
        max-width: 75%;
    }
    
    .about-1 {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        align-items: flex-end; 
        margin-right: 5em;
    }
    
    #me {
       width: 100%;
        min-width: 350px;
       max-width: 400px;
    }
    
    .about-2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;
        min-width: 450px;
    }
    
    .hi {
        font-size: 55px;
        display: none;
    }
    
    .about-2 h1 {
        display: block;
        margin-right: auto;
        margin-left: 13px;
        font-size: 50px;
        margin-bottom: -12px;
        color: #42c2f4;
    }
    
    #about-card {
       transform: translate(0px, 170px)
    }
    
    #r-btn {
        margin: 0;
        margin-right: auto;
        margin-left: 17px;
    }

    #skills {
        flex-basis: 100px;
        height: 100vh;
    }
    
    #skills-list {
        line-height: 1.5em;
        margin-top: 1.5em;
    }
    
    #skills-list li {
        font-size: 22px;
        color: #FFF;
    }
    
    #skills-card {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1300px) {
    
    .project-wrap {
        grid-gap: 24px;
    }
    
    .project-wrap {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }
}

@media screen and (max-width: 570px) {
    
    #me {
        width: 100%;
    }

}